h1{
    color: rgb(00, 26, 42);
  }
body {
    background-image: url("/pages/images/sky.jpg");
    background-position: center center; 
    background-size: 100% 100%;
    background-color: rgb(229,149,0);
  }
nav {
  position: sticky;
  top: 0;
}
a:hover {
  color: #bf616a;
  text-decoration: underline #bf616a;
}